.experience {
  padding: 100px;
  margin: auto;
  color: black;
}

.experience h2 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 30px;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background: #f7f7f7;
  border: none;
  outline: none;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-company-name {
  color: gray;
  font-size: 14px;
}

.accordion-header:focus {
  outline: none;
}

.accordion-header:hover {
  background: #ececec;
}

.duration {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  color: #555;
}

.accordion-body {
  display: none;
  padding: 15px 20px;
  background: white;
}

.accordion-body ul {
  padding-left: 20px;
}

.accordion-body li {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.6;
  color: #444;
  list-style: circle;
}

.accordion-item.active .accordion-body {
  display: block;
}

@media screen and (max-width: 768px) {
  .experience {
    padding: 100px 20px;
  }

  .experience h2 {
    font-size: 28px;
  }

  .accordion-header {
    font-size: 12px;
  }

  .experience-company-name {
    font-size: 10px;
  }

  .duration {
    font-size: 12px;
  }

  .accordion-body {
    padding: 10px;
  }

  .accordion-body ul {
    padding-left: 10px;
    font-size: 12px;
  }

  .accordion-body li {
    line-height: 1.2;
  }
}