.contact {
  padding: 100px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contact div {
  text-align: center;
}

.contact h1 {
  font-size: 32px;
  font-weight: bold;
}

#sub-contact {
  text-align: center;
  color: black;
}

#email a {
  text-align: center;
  font-size: 20px;
  color: black;
}

.socials {
  font-size: 24px;
  width: 20%;
  margin: auto;
  display: flex;
  align-items: self-start;
  justify-content: space-evenly;
}

#leetcode-text {
  color: black;
  font-size: 12px;
}

.contact-icons {
  color: black;
}

.contact img {
  width: 25px;
}


@media screen and (max-width: 768px) {
  .contact {
    padding: 100px 20px;
  }

  .contact h1 {
    font-size: 28px;
  }

  #email a {
    font-size: 18px;
  }

  .socials {
    width: 100%;
  }
}