nav,
#nav {
  background-color: rgb(32, 32, 32);
  width: 100%;
}

nav ul {
  width: 80%;
  margin: auto;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 20px 20px 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

nav ul li a:hover {
  color: rgb(255, 86, 35);
}

.toggle {
  width: 100%;
  padding: 20px 0;
  text-align: right;
  display: none;
  background-color: rgb(32, 32, 32);
}

.toggle i {
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  color: white;
}

.burger-menu {
  color: white;
}

@media screen and (max-width: 768px) {
  .toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(32, 32, 32);
    text-align: left;
    padding-left: 30px;
  }

  nav ul li {
    display: block;
    padding: 15px 0;
  }

  nav ul.active {
    display: flex !important;
  }
}